<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Editar Categoria</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Escolha o nome e uma foto para representar uma categoria.</p>
    </div>

  </div>
  
  <div class="row justify-content-center">
    
    <% if(infoSubmitObj != '') { %>
      <div class="col-8 alert alert-success" role="alert">
        <%= infoSubmitObj %>
      </div>
    <% } %>
  
    <% if(infoErrorsObj != '') { %>
      <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorsObj[0].message %>
      </div>
    <% } %>
  
    <div class="col-8">
      <h5>Old Photo</h5>
      <img src="/uploads/category/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
      <form action="/edit-category" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">

          <div class="col-12">
            <label for="name" class="form-label">Atual Nome da Categoria:</label>
            <input type="text" name="oldname" id="name" value="<%- category.name %>" class="form-control" readonly required>
          </div>
  
          <div class="col-12">
            <label for="name" class="form-label">Novo Nome da Categoria</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
  
          <div class="col-12">
            <label for="image">Nova Imagem da Categoria</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>