<h1 class="pb-4">Editar Postagens</h1>

<div class="row row-cols-4 row-cols-lg-8 g-2 g-lg-3">
  <% if(post != '') { %>
    <% post.forEach(function(post, index){ %>
    <a href="/post/<%= post._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="/uploads/<%= post.image %>" alt="<%= post.title %>" loading="lazy">
      </div>
      <div class="pt-1"><%= post.title %></div>
      <div class="col text-center category__link"><a href="/update-post/<%- post._id %>" >Editar<%= index %></a></div>
    </a>
    <% }) %>
  <% } else { %>
    <p>Não foram encontradas as postagens..</p>
  <% } %> 
</div>